{% extends "layout.html" %}

{% block body %}
<h1>Leave a comment</h1>
<form method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <hr>
  <button type="button" class="btn btn-secondary" id="generate-report-btn">Generate Report</button>
        <script>
        document.getElementById('generate-report-btn').addEventListener('click', function() {
          var img = document.createElement('img');
          img.src = 'https://soccerpassionproject.s3.amazonaws.com/plot/feeback.png';
          var newWindow = window.open();
          newWindow.document.write(img.outerHTML);
        });
      </script>
  <hr>
</form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


{% endblock %}
