{% extends 'layout.html' %}

{% block body %}
<h3>THE SOCCER ECONOMY - PLAYER VALUATION</h3>
<ul>
    <hr>
    <li><a href="/visualize">Check out the data visualization library</a></li>
    <li><a href="/ml">Explore the prediction model</a></li>
    <p>Results and learning from the Dataset</p>
    <hr>
    <li><a href="/game">Enter a play's name - Get the value</a></li>
    <p>Yeah! Game Time</p>
    <hr>
    <li><a href="/comment">Please Give Suggestions</a></li>
    <p>The data will be saved in DynamoDB and used for machine learning project</p>
    <hr>
    <li><a href="http://trungwebsitebucket.s3-website-us-east-1.amazonaws.com/" target="_blank">Visit my other Projects</a></li>
    <p>Data keeps Growing and Project Never Done</p>
    <hr><hr>
</ul>
<h3>Do you think players with higher market values get paid more?<br>
    What about BMI, will it affect their market value? <br></br>Let's explore!!</h3>
{% endblock %}