{% extends "layout.html" %}

{% block body %}
<h1>Data Visualization</h1>
<p>Click on Links to download</p>
<div class="row">
	  <div class="col-sm-6">
	  	<a href="https://soccerpassionproject.s3.amazonaws.com/plot/corelation_Value+in+Mil_Age.png" class="link" style="color: black;">Correlation Value - Age</a>
	  	<br><a href="https://soccerpassionproject.s3.amazonaws.com/plot/top50_value_wage.png" class="link" style="color: black;">Top50_value_wage</a>
		<br><a href="https://soccerpassionproject.s3.amazonaws.com/plot/top50_value_overall.png" class="link" style="color: black;">Top50_value_overall</a>
		<hr>
	  	<a href="https://soccerpassionproject.s3.amazonaws.com/plot/top50_value_age.png" class="link" style="color: black;">Top50_player_value_age</a>
		<br><a href="https://soccerpassionproject.s3.amazonaws.com/plot/top50_age_overall.png" class="link" style="color: black;">Top50_age_overall</a>
		<br><a href="https://soccerpassionproject.s3.amazonaws.com/plot/corelation_Value+in+Mil_Age.png" class="link" style="color: black;">Correlation_Value_Age</a>
		<br><a href="https://soccerpassionproject.s3.amazonaws.com/plot/corelation_Value+in+Mil_Wage+in+K.png" class="link" style="color: black;">Correlation_Value_Wage</a>
	 	 <hr>
	  	<a href="https://soccerpassionproject.s3.amazonaws.com/plot/bighistogram.png" class="link" style="color: black;">Big Histogram Of Relevant Data</a>
		<br><img src="https://soccerpassionproject.s3.amazonaws.com/plot/bighistogram.png" alt="Big Histogram" class="photo" width="300" height="200">
		<br><a href="https://soccerpassionproject.s3.amazonaws.com/plot/heatmap.png" class="link" style="color: black;">Heat Map</a>
		<br><img src="https://soccerpassionproject.s3.amazonaws.com/plot/heatmap.png" alt="Heat Map" class="photo" width="300" height="200">
	  </div>
	  <div class="col-sm-6" style="text-align: right;">
  		<a href="https://soccerpassionproject.s3.amazonaws.com/plot/corelation_Value+in+Mil_Special.png" class="link" style="color: black;">Correlation_Value_Special</a>
	 	<br><a href="https://soccerpassionproject.s3.amazonaws.com/plot/corelation_Value+in+Mil_Overall.png" class="link" style="color: black;">Correlation_Value_Overall</a>
		<br><a href="https://soccerpassionproject.s3.amazonaws.com/plot/corelation_Value+in+Mil_Potential.png" class="link" style="color: black;">Correlation_Value_Potential</a>
			<hr>
	  	<a href="https://soccerpassionproject.s3.amazonaws.com/plot/corelation_Value+in+Mil_Special.png" class="link" style="color: black;">Correlation_Value_Special</a>
		<br><a href="https://soccerpassionproject.s3.amazonaws.com/plot/corelation_Value+in+Mil_Release+Clause+in+Mil.png" class="link" style="color: black;">Correlation_Value_Release Clause</a>
		<br><a href="https://soccerpassionproject.s3.amazonaws.com/plot/Overall_boxplot.png" class="link" style="color: black;">Overall Skill Boxplot</a>
	 	<br><a href="https://soccerpassionproject.s3.amazonaws.com/plot/Overall_barplot10.png" class="link" style="color: black;">Top 10 Overall</a>
		<hr>
		<a href="https://soccerpassionproject.s3.amazonaws.com/plot/corelation_Value+in+Mil_BMI.png" class="link" style="color: black;">Correlation Value - BMI</a>
		<br><img src="https://soccerpassionproject.s3.amazonaws.com/plot/corelation_Value+in+Mil_BMI.png" alt="Correlation Value - BMI" class="photo" width="300" height="200">
		<br><a href="https://soccerpassionproject.s3.amazonaws.com/plot/Overall_boxplot.png" class="link" style="color: black;">Overall Boxplot </a>
		<br><img src="https://soccerpassionproject.s3.amazonaws.com/plot/Overall_boxplot.png" alt="Overall Boxplot" class="photo" width="300" height="200">
	  <br><br><br><br><br>
	  </div>
</div>
{% endblock %}