{% extends "layout.html" %}

{% block body %}
<h1>Data Visualization</h1>
<p>Click on Links to download</p>
<div class="row">
	  <div class="col-sm-4">
		<a href="https://soccerpassionproject.s3.amazonaws.com/plot/bighistogram.png" class="link" style="color: yellow;">Big Histogram</a>
		<img src="https://soccerpassionproject.s3.amazonaws.com/plot/bighistogram.png" alt="Big Histogram" class="photo" width="300" height="200">
		<a href="https://soccerpassionproject.s3.amazonaws.com/plot/heatmap.png" class="link" style="color: yellow;">Heat Map</a>
		<img src="https://soccerpassionproject.s3.amazonaws.com/plot/heatmap.png" alt="Heat Map" class="photo" width="300" height="200">
		<a href="https://soccerpassionproject.s3.amazonaws.com/plot/corelation_Value+in+Mil_Age.png" class="link" style="color: yellow;">Correlation Value - Age</a>
		<img src="https://soccerpassionproject.s3.amazonaws.com/plot/corelation_Value+in+Mil_Age.png" alt="Correlation Value - Age" class="photo" width="300" height="200">
	  </div>
	  <div class="col-sm-4">
		<a href="https://soccerpassionproject.s3.amazonaws.com/plot/Overall_barplot10.png" class="link" style="color: yellow;">Top 10 Overall</a>
		<img src="https://soccerpassionproject.s3.amazonaws.com/plot/Overall_barplot10.png" alt="Top 10 Overall" class="photo" width="300" height="200">
		<a href="https://soccerpassionproject.s3.amazonaws.com/plot/corelation_Value+in+Mil_BMI.png" class="link" style="color: yellow;">Correlation Value - BMI</a>
		<img src="https://soccerpassionproject.s3.amazonaws.com/plot/corelation_Value+in+Mil_BMI.png" alt="Correlation Value - BMI" class="photo" width="300" height="200">
		<a href="https://soccerpassionproject.s3.amazonaws.com/plot/Overall_boxplot.png" class="link" style="color: yellow;">Overall Boxplot</a>
		<img src="https://soccerpassionproject.s3.amazonaws.com/plot/Overall_boxplot.png" alt="Overall Boxplot" class="photo" width="300" height="200">
	  </div>
	<div class="col-sm-4">
		<a href="https://soccerpassionproject.s3.amazonaws.com/plot/top50_value_wage.png" class="link" style="color: yellow;">Top50_value_wage</a>
		<a href="https://soccerpassionproject.s3.amazonaws.com/plot/top50_value_overall.png" class="link" style="color: yellow;">Top50_value_overall</a>
		<a href="https://soccerpassionproject.s3.amazonaws.com/plot/top50_value_age.png" class="link" style="color: yellow;">Top50_player_value_age</a>
		<a href="https://soccerpassionproject.s3.amazonaws.com/plot/top50_age_overall.png" class="link" style="color: yellow;">Top50_age_overall</a>
		<hr>
		<a href="https://soccerpassionproject.s3.amazonaws.com/plot/corelation_Value+in+Mil_Age.png" class="link" style="color: yellow;">Correlation_Value_Age</a>
		<a href="https://soccerpassionproject.s3.amazonaws.com/plot/corelation_Value+in+Mil_Wage+in+K.png" class="link" style="color: yellow;">Correlation_Value_Wage</a>
		<a href="https://soccerpassionproject.s3.amazonaws.com/plot/corelation_Value+in+Mil_Special.png" class="link" style="color: yellow;">Correlation_Value_Special</a>
		<hr>
		<a href="https://soccerpassionproject.s3.amazonaws.com/plot/corelation_Value+in+Mil_Overall.png" class="link" style="color: yellow;">Correlation_Value_Overall</a>
		<a href="https://soccerpassionproject.s3.amazonaws.com/plot/corelation_Value+in+Mil_Potential.png" class="link" style="color: yellow;">Correlation_Value_Potential</a>
		<a href="https://soccerpassionproject.s3.amazonaws.com/plot/corelation_Value+in+Mil_Special.png" class="link" style="color: yellow;">Correlation_Value_Special</a>
		<hr>
		<a href="https://soccerpassionproject.s3.amazonaws.com/plot/corelation_Value+in+Mil_Release+Clause+in+Mil.png" class="link" style="color: yellow;">Correlation_Value_Release Clause</a>
		<a href="https://soccerpassionproject.s3.amazonaws.com/plot/heatmap.png" class="link" style="color: yellow;">Comprehensive Correlation Heat Map</a>
		<a href="https://soccerpassionproject.s3.amazonaws.com/plot/Overall_boxplot.png" class="link" style="color: yellow;">Overall Skill Boxplot</a>

	</div>
</div>
{% endblock %}